@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
  box-sizing: border-box;
}

* {
	font-family: "Roboto", serif;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Deshabilitar Flechas por defecto en los input de tipo number */
/* Para navegadores WebKit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Para Firefox */
input[type="number"] {
	-moz-appearance: textfield; /* Ocultar el spinner */
}

/* Inputs de Contraseña */
.inputPassword {
	padding-right: 2.5rem; /* Asegúrate de dejar espacio para el icono */
}

.spanPassword {
	position: absolute;
	right: 1rem; /* Ajusta según sea necesario */
	top: 50%;
	bottom: 50%;
	transform: translateY(-50%);
	cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}


/* Estilos para el Waitscreen */
.wait-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.wait-content {
	width: 300px; /* Ancho deseado */
	height: 200px; /* Altura deseada */
	background-color: white; /* Fondo blanco o cualquier color que prefieras */
	border-radius: 8px; /* Esquinas redondeadas */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.spinner {
	border: 8px solid rgba(255, 255, 255, 0.3);
	border-left-color: #007bff; /* Color del spinner */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.admin-container {
	display: flex;
	min-height: 100vh;
}

/* Sidebar */
.sidebar {
	width: 220px;
	min-width: 220px;
  max-width: 220px;
	background-color: #2c3e50;
	color: white;
	display: flex;
	flex-direction: column;
	transition: transform 0.3s ease;
}

.sidebar-header {
	padding: 20px;
	text-align: center;
	/* background-color: #1a252f; */
}

.sidebar-header img {
  max-width: 100%;
  height: auto;
}

.sidebar-nav {
	flex-grow: 1;
}

.sidebar-nav ul {
	list-style: none;
	padding: 0;
}

.sidebar-nav ul li {
	padding: 15px 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.sidebar-nav ul li:hover {
	background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
}


/* Main Content */
.main-content {
	flex-grow: 1;
	background-color: #ecf0f1;
	padding: 20px;
}

.header {
	background-color: #bdc3c7;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.content {
	padding: 20px;
	background-color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

/* Menú Hamburguesa */
.hamburger {
	display: none;
	padding: 10px;
	background-color: #2c3e50;
	color: white;
	cursor: pointer;
	text-align: left; /* Alineado a la izquierda */
}

.hamburger-icon {
	font-size: 30px;
}

@media (max-width: 768px) {
	.admin-container {
		flex-direction: column;
	}

	.sidebar {
    width: 250px; /* O el ancho que desees */
    min-width: 250px;
    max-width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

	.hamburger {
		display: block;
	}

	.main-content {
		margin-top: 50px;
	}
}


/* Estilos TablaData */
.table-container {
	overflow-x: auto; /* Permitir scroll horizontal */
	margin: 16px 0; /* Margen superior e inferior */
}

table {
	width: 100%; /* Hacer que la tabla ocupe todo el ancho disponible */
	border-collapse: collapse; /* Colapsar bordes de la tabla */
}

th, td {
	padding: 8px; /* Espaciado interno */
	border: 1px solid #ccc; /* Bordes de la tabla */
	text-align: left; /* Alinear texto a la izquierda */
}

th {
	background-color: #f2f2f2; /* Fondo claro para los encabezados */
}

/* Sobreponer en todas las situaciones */
.swal2-container {
	z-index: 9999; /* Asegúrate de que sea más alto que otros elementos */
}

.filtros-fieldset {
	border: 2px solid #656ed3e1; /* Color del borde */
	border-radius: 8px; /* Esquinas redondeadas */
	padding: 16px; /* Espaciado interno */
	margin: 20px 0; /* Espaciado externo */
	background-color: #f1f1f1; /* Color de fondo */
}

.filtros-legend {
	font-size: 1.6rem; /* Tamaño de fuente */
	font-weight: bold; /* Negrita */
	color: #656ed3e1; /* Color del texto */
}
